@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300');
@import url("https://fonts.googleapis.com/css?family=Lilita+One");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css?family=Teko:400,700&display=swap');

.share_message{
  width: 190px;
  text-align: center;
  color: #e3e3e3;
  position:relative;
  top:-92px;
  left:59px;
}

.move_up{
  position: relative;
  top: -60px;
}

.spread_the_love{
  color: #ffbb0b;
}

.share_link_a{
  text-decoration: none;
  color: #e3e3e3;
}

.share_link_a:hover {
  color: #ffbb0b;
}

.share{
  width:180px;
  height: auto;
  position:fixed;
  top:10px;
  left:60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color:#e2e2e2
}

.share_link{
  display:flex;
  justify-content: center;
}
.share_link:hover{
  transition: ease .5s;
  color:#ffbb0b;
}

.fa-2x {
  font-size: 2em; }

.fa, .unknown {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px; }

a {
  outline: 0; }

a:hover, a:active, a:focus {
  color: #212121; }

.main-menu:hover, nav.main-menu.expanded {
  width: 250px;
  overflow: visible; }
.NoChange:hover, nav.NoChange.expanded {
  max-width: 250px;
  min-width: 250px;
  overflow: visible; }

.main-menu {
  background: #212121;
  border-right: 1px solid #212121;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 4; }

.main-menu > ul {
  margin: 7px 0; }

.main-menu li {
  position: relative;
  display: block;
  width: 250px; }

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #e2e2e2;
  font-family: "Montserrat";
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear; }

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px; }

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-weight: bold;
  font-size: 12px; }

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0; }

.no-touch .scrollable.hover {
  overflow-y: hidden; }

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible; }

a:hover, a:focus {
  text-decoration: none; }

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0; }

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  transition: .2s ease;
  color: #212121;
  background-color: #ffbb0b; }

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff"); }

body {
  background-color: #edf5e1; }

.content {
  margin-left: 64px; }

.modal-body {
  background-color: #212121;
  border-radius: 5px; }

.shake {
  -webkit-animation: color_pulse 5s ease 5s infinite forwards;
  animation: color_pulse 5s ease 5s infinite forwards; }

.has-subnav:hover .shake {
  -webkit-animation: none; }

@-webkit-keyframes color_pulse {
  0% {
    color: #e2e2e2; }
  80% {
    color: #ffbb0b; }
  90% {
    color: #e2e2e2; } }

@keyframes color_pulse {
  0% {
    color: #e2e2e2; }
  80% {
    color: #ffbb0b; }
  90% {
    color: #e2e2e2; } }

.card-container {
  background-color: #212121;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #B3B8CD;
  padding-top: 30px;
  position: relative;
  width: 350px;
  max-width: 100%;
  text-align: center; }

.paragraph {
  margin: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  text-align: justify;
  max-height: 60px;
  margin-bottom: 2px;
  overflow: hidden;
}

.text_side{
  padding-top: 10px;
}

.feature-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 10px;
}

.round {
  width: 100%;
  margin-bottom: 20px; }

.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0; }

.transparent, .modal-dialog, .modal-content {
  background: rgba(0, 0, 0, 0);
  border: 0; }

.modal {
  z-index: 20; }

.modal-backdrop {
  z-index: 5; }

.card_ {
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
  overflow: hidden;
  background-attachment: fixed; }
  .card_ .card_face {
    transition: ease .5s;
    width: 480px;
    height: 100%;
    background-color: #transparent;
    display: grid;
    grid-template-columns: 300px 180px; }
    .card_ .card_face .text_side {
      background: #212121;
      color: #e2e2e2;
      text-align: center; }
  .card_:hover {
    transition: ease .8s; }
    .card_:hover .card_face {
      transition: ease .8s;
      transform: translateX(-180px); }

.card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center; }

.flexbox {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 400px; }

.flexbox .item {
  padding: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #212121;
  color: #e2e2e2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.stand_out {
  color: #ffbb0b; }

/*
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */
h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center; }

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #FB667A; }

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none; }

.container_ th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  color: #212121; }

.container_ td {
  font-weight: normal;
  text-align: center;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119; }

#map {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 320px; }

.tab-pane {
  position: relative;
  top: 4px; }

.margin_map {
  position: relative;
  top: 324px; }

.container_ {
  z-index: 0;
  text-align: left;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0; }

.container_ td, .container_ th {
  height: 40px;
  color: #e2e2e2;
  font-weight: bold; }
  .container_ td a, .container_ th a {
    color: #e2e2e2; }

/* Background-color of the odd rows */
.container_ tr:nth-child(odd) {
  background-color: #555; }

/* Background-color of the even rows */
.container_ tr:nth-child(even) {
  background-color: #212121; }

.container_ th {
  background-color: #FFBB0B; }

.container_ td:first-child {
  color: #FFBB0B; }

.container_ tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119; }

@media (max-width: 800px) {
  .container_ td:nth-child(4),
  .container_ th:nth-child(4) {
    display: none; } }

.nav-pills .pill-1 .nav-link {
  background-color: #FFBB0B; }

.mobile {
  display: none; }

@media (min-width: 1200px) {
  .mobile {
    display: none; }
  .card_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center; }
  .container {
    margin-top: 20px; }
    .container .carousel-inner {
      height: 400px; } }

@media (max-width: 766px) {
  body {
    background-color: #e3e3e3; }
  .mobile {
    display: block;
    background-color: #212121; }
  .card_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center; }
  .main-menu {
    visibility: hidden; }
  .content {
    margin-left: 2px; }
  .container {
    margin-top: 20px; }
    .container .carousel-inner {
      max-height: 50px;
      width: 400px; } }

.button-section{
  margin-top: 20px;
}

.feature-section{
  margin-top: 10px;
}

.btn.btn-dark:not(:disabled):not(.disabled):active,
.btn.btn-dark:not(:disabled):not(.disabled).active {
  color: #000000;
  background-color: #ffbb0b;
  border-color: #cf9b0b;
}


.logo{
  font-family: 'Teko';
  display:grid;
  grid-template-columns: 1fr 11fr;
  grid-gap: 0;
  color: #e2e2e2;
  font-size: 180%;

  position: relative;
  top: 30px;
  left: -100px;

  transform: rotate(90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);
}
.whose{
  font-weight: 400;
  position: relative;
  top: -5px;
  left:62px;
  font-size: 80%;


  transform: rotate(-90deg);


  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);
}
.inn{
  color: #ffbb0b;
  font-weight:700;
  font-size: 280%;
}

.nav_search{
  width: 100%;
  display: flex;
  justify-content: center;
}
.collapse_contain{
  width: 90%;
}


.collap{
  border-radius: 5px;
  border: solid 1px #ffbb0b;
  background-color: #212121
}
.collap button{
  color: #ffbb0b;
  text-decoration: none;
  align-content: center;
}
.collap button:hover{
  color: #ff8b0b;
  text-decoration: none;
}
.canv{
  background-color: transparent;
  border: 0px
}

.img_grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  width: 690px;
  grid-gap: 5px;
  margin-top: 5px;
}
.img_cont{
  width: 100%;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
}
