{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome{% endblock title %}
{% block content %}

<div class="container">
  <div id="mapid" style="width: 100%; height: 400px; z-index: 0"></div>

  <form class="" action="index.html" method="post">
    <textarea type="text" class="form-control my-1" name="message_box" placeholder="Type your message.."></textarea>
    <button type="submit" class="btn btn-warning" href="#" role="button">Send</button>
  </form>

<div class="detail_grid" style="display:grid; grid-template-columns:1fr;">
  {% for i in messages %}

  <div class="mt-1 pl-1" role="alert">
    <small><strong>{{i.viewer}}:</strong></small> {{i.message}}
  </div>
  {% endfor %}
</div>

</div>

<script>

  var mymap = L.map('mapid').setView([{{accom.lat}}, {{accom.lng}}], 13);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11'
  }).addTo(mymap);

  L.marker([{{accom.lat}}, {{accom.lng}}]).addTo(mymap)
  .bindPopup("{{accom.address}}").openPopup();

  var popup = L.popup();

  function onMapClick(e) {
    popup
    .setLatLng(e.latlng)
    .setContent("You clicked the map at " + e.latlng.toString())
    .openOn(mymap);
  }

  mymap.on('click', onMapClick);

</script>
{% endblock content %}
