{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome{% endblock title %}
{% block content %}

<div class="container mb-1">
  <div id="mapid" class="mb-2" style="width: 100%; height: 400px; z-index: 0"></div>

  <div id="accordion">
  <div class="card mb-2 canv">

      <h5 class="mb-0 collap">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <strong>
            Details
          </strong>
        </button>
      </h5>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div style="display:grid; grid-template-columns:2fr 1fr;width:auto">
          <div style="padding-top:20px;">
            <h1 style="text-align:center; font-size:30px; margin:0; padding:0">{{accom.title}}</h1>
            <p style="text-align:center; font-size:12px;">
              <i>{{accom.address}}</i>
            </p>
            <h3 style="text-align:center; font-size:15px; margin:0; padding:0; padding-bottom:20px">{{accom.description}}</h3>
          </div>
          <div style="padding-top:20px;">

            <div style="display:grid; grid-template-columns:1fr 6fr">

            <i class="fas fa-wifi"></i>
            <p class="on_off" style="text-align:left; font-size:12px;">
              <i>
                {% if accom.wifi == True %}
                WIFI is available.
                {% else %}
                WIFI is not available.
                {% endif %}
              </i>
            </p>
            <i class="fas fa-bolt"></i>
            <p class="on_off" style="text-align:left; font-size:12px;">
              <i>
                {% if accom.electricity == True %}
                Electricity is available.
                {% else %}
                Electricity is not available.
                {% endif %}
              </i>
            </p>
            <i class="fas fa-bus-alt"></i>
            <p class="on_off" style="text-align:left; font-size:12px;">
              <i>
                {% if accom.shuttle == True %}
                Shuttle service available.
                {% else %}
                Shuttle service not available.
                {% endif %}
              </i>
            </p>
            <i class="fas fa-chair"></i>
            <p class="on_off" style="text-align:left; font-size:12px;">
              <i>
                {% if accom. == True %}
                Accommodation is partially or fully furnished.
                {% else %}
                Accommodation is unfurnished.
                {% endif %}
              </i>
            </p>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-2 canv">

      <h5 class="mb-0 collap">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>
            Images
          </strong>
        </button>
      </h5>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="img_grid container">
      {% if user.is_authenticated %}
      {% for i in images %}
      <a href="/media/{{ i.image }}">
        <div class="img_cont" style="background-image:url('/media/{{ i.image }}');">
        </div>
      </a>
      {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
  <div class="card mb-2 canv">

      <h5 class="mb-0 collap">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <strong>
            Questions/Comments
          </strong>
        </button>
      </h5>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">

      {% if user.is_authenticated %}

      <form class="mb-1" action="{% url 'detail' accom.slug %}" method="post">
        {% csrf_token %}
        <textarea type="text" class="form-control my-1" name="message_box" placeholder="Type your message.."></textarea>
        <button type="submit" class="btn btn-warning" href="#" role="button">Send</button>
      </form>

      {% endif %}

      <div class="detail_grid" style="display:grid; grid-template-columns:1fr;">
        {% for i in messages %}
        {% if i.accom.user == i.viewer %}
        <div class="pl-1 mb-1 alert alert-dark" style="border-radius:5px; display: grid; grid-template-columns: 20fr 1fr;" role="alert">
          <div class="pl-3">
          <small><strong>{{i.viewer}}:</strong></small> {{i.message}}
          </div>
          <div>
            {% if user == i.viewer or user == i.accom.user %}
            <form class="" action="{% url 'delete_message' accom.slug %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id_ref" value="{{ i.id }}"/>
              <button class="btn btn-sm btn-default" type="submit" role="button">
                <i class="fas fa-times"></i>
              </button>
            </form>
          {% endif %}
          </div>
        </div>
        {% else %}
        <div class="pl-1 alert mb-1 alert-sm alert-light" role="alert" style="border-radius:5px; display: grid; grid-template-columns: 20fr 1fr;">
          <div class="pl-3">
            <small><strong>{{i.viewer}}:</strong></small> {{i.message}}
          </div>
          <div>
            {% if user == i.viewer or user == i.accom.user %}
            <form class="" action="{% url 'delete_message' accom.slug %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="id_ref" value="{{ i.id }}"/>

              <button class="btn btn-sm btn-default" type="submit" role="button">
                <i class="fas fa-times"></i>
              </button>
            </form>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>


    </div>
  </div>
</div>

</div>

<script>

  var mymap = L.map('mapid').setView([{{accom.lat}}, {{accom.lng}}], 13);

  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11'
  }).addTo(mymap);

{% if user.is_authenticated %}
  L.marker([{{accom.lat}}, {{accom.lng}}]).addTo(mymap)
  .bindPopup("{{accom.address}}").openPopup();
{% endif %}

  var popup = L.popup();

  function onMapClick(e) {
    popup
    .setLatLng(e.latlng)
    .setContent("You clicked the map at " + e.latlng.toString())
    .openOn(mymap);
  }

  mymap.on('click', onMapClick);

</script>
{% endblock content %}
