{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block css %}

{% endblock css %}

{% block content %}

  <div id = "map"></div>

  <table class="container_ margin_map">
    <thead>
      <tr>
        <th><h1><small><strong>Province</strong></small></h1></th>
        <th><h1><small><strong>Address</strong></small></h1></th>
        <th><h1><small><strong>Price</strong></small></h1></th>
        <th><h1><small><strong>Single/Sharing</strong></small></h1></th>
        <th><h1><small><strong>Contact</strong></small></h1></th>
        <th><h1><small><strong>Gender</strong></small></h1></th>
        <th><h1><small><strong>Status</strong></small></h1></th>
      </tr>
    </thead>
    <tbody>
      {% for i in table %}
      {% if i.viewer == user %}
      {% if i.status == 'pending' or i.status == 'canceled'%}
      <tr>
        <td><small>{{i.accom.province}}</small></td>
        <td>
          <small>Accommodation request pending..</small>
        </td>
        <td><small>R{{i.accom.price}}</small></td>
        <td><small>{{i.accom.type}}</small></td>
        <td><small>Accommodation request pending..</small></td>
        <td><small>{{i.accom.gender}}</small></td>
        <td><small>{{i.status}}</small></td>
      </tr>
      {% elif i.status == 'accepted' or i.status == 'owned' %}
      <tr class='good_news'>
        <td><small>{{i.accom.province}}</small></td>
        <td>
          <a href="/post/{{ i.accom.slug }}">
            <small>{{i.accom.address}}</small>
          </a>
        </td>
        <td><small>R{{i.accom.price}}</small></td>
        <td><small>{{i.accom.type}}</small></td>
        {% if i.status == 'owned' %}
        <td><small>You</small></td>
        {% else %}
        <td><small>{{i.accom.user}}</small></td>
        {% endif %}
        <td><small>{{i.accom.gender}}</small></td>
        <td><small>{{i.status}}</small></td>
      </tr>
      {% endif %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

<!-- Map Settings -->
<script>
   // Creating map options
   var mapOptions = {
      center: {{ location }},
      zoom: 6,
      zoomControl: false
   }

   // Creating a map object
   var map = new L.map('map', mapOptions);

   // Creating a Layer object
   var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');

   // Adding layer to the map
   map.addLayer(layer);

   {% for m in table %}
   {% if m.viewer == user %}
   {% if m.status == 'accepted' or m.status == 'owned' %}

      var marker = L.marker([{{ m.accom.lat }}, {{ m.accom.lng }}]).addTo(map);

   {% endif %}
   {% endif %}
   {% endfor %}
</script>

{% endblock content %}
